/* /> */
.symbol{
  color: #232128;
}

/* Cursor Settings */
.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border: 1px solid #c6c6c6;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0.15s;
  z-index: 100; /* Higher z-index value to keep the cursor above the navbar */
}

.cursor2 {
  position: fixed;
  width: 6px;
  height: 6px;
  background-color: #c6c6c6;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) ;
  z-index: 100; /* Higher z-index value to keep the cursor above the navbar */
}

.cursor:hover{
  transform: translate(-50%, -50%) scale(1.6) ;

}